body {
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: Black;
    font-size: 13px;
    background-repeat:repeat;
}
td img 
{
    display: block;
}
input
{
	font-family:Verdana;
	font-size:13px;
	padding: 2px;
	color: #000000;
}
Label
{
	font-family:Verdana;
	font-size:13px;
	padding: 2px;
}

select
{
	font-family:Verdana;
	font-size:13px;
	padding: 2px;
}
a:link
{
    text-decoration: none;
}
a:visited
{
    text-decoration: none;
}
a:hover
{
    text-decoration: underline overline;
}

.td_Titulo
{
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: Black;
    text-align: left;
    font-size: 16px;
    font-weight:bold;
}
.td_dados
{
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    color: Black;
    text-align: left;
    vertical-align: top;
    font-size: 13px;
}

.button
{
    cursor: pointer; 
}
.tabela_login
{
    visibility: visible;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: block;
    font-weight: normal;
    color: #F9f6bd;
    vertical-align: middle;
    text-align: left;
    border: thin solid #F9f6bd;
    width: 280px;
    height: auto;
}
.Mensagem
{
    font-family: Verdana, Arial;
    font-size: 13px;
    font-style: normal;
    color: Black;
}

